@import "../../variables.scss";

$header-height: 60px;

.container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  justify-items: stretch;
  margin-top: $header-height;

  .header {
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: $header-height;
    padding: 0 15px;
    border-bottom: 1px solid black;

    .logo {
      padding: 5px 30px;
      border: 1px solid black;
    }

    .burger-menu:hover {
      cursor: pointer;
    }

    .backdrop {
      z-index: 10;
      position: absolute;
      width: 100vw;
      height: 100vh;
      right: 0;
      top: 0;
      overflow: hidden;
      background-color: rgba($color: #000000, $alpha: 0.6);
      backdrop-filter: blur(2px);
      transition: width 0.2s;

      .sidebar {
        position: absolute;
        right: 0;
        height: 100%;
        width: 70vw;
        transition: width 0.5s;
        padding: 10px;

        .listing {
          display: flex;
          flex-direction: column;

          .search {
            margin-bottom: 20px;
            padding: 10px;
          }

          .cart {
            margin: 20px 0 0 10px;
            font-size: 1.2em;
          }

          a {
            padding: 10px 10px;
            transition: color 0.1s, background-color 0.1s;

            &,
            &:active,
            &:focus,
            &:visited {
              text-decoration: none;
              color: $primary;
            }

            &:not(:nth-of-type(-n + 1)) {
              border-top: 1px solid rgba($color: $primary, $alpha: 0.7);
            }

            &:hover {
              color: $secondary;
              background-color: $primary;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .infos {
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid black;
  }

  .search {
    box-sizing: border-box;
    width: 100%;
    min-width: 150px;
    border: 1px solid $primary;
    padding: 4px 10px;

    img {
      width: 15px;
    }
  }

  .categories {
    $margin: 10px;
    flex-wrap: wrap;
    padding: $margin $margin 0 0;

    .category {
      $size: 45vw;
      $min-size: 140px;
      width: $size;
      min-width: $min-size;
      height: $size;
      min-height: $min-size;
      margin: 0 0 $margin $margin;

      box-sizing: border-box;
      border: 1px solid black;
    }

    // .category.show-all:not(:first-child) {
    .category.hide-some:not(:nth-child(-n + 4)) {
      display: none;
    }
  }

  .show-all-categories {
    padding: 5px;
    margin: 0 10px 10px 10px;
    border-radius: 3px;
    transition: background-color 0.2s;

    &:hover {
      cursor: pointer;
      background-color: rgba($secondary, 0.8);
    }
  }

  .products {
    box-sizing: border-box;
    $margin: 10px;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: $margin $margin 0 0;

    .product-container {
      $size: 44vw;
      $min-size: 140px;
      display: flex;
      flex-direction: column;
      margin-bottom: 2 * $margin;
      width: $size;
      margin: 0 0 $margin $margin;

      transition: color 0.2s, background-color 0.2s;

      &:hover {
        cursor: pointer;
        color: $primary;
        background-color: rgba($color: $secondary, $alpha: 0.3);
      }

      .product {
        width: $size;
        min-width: $min-size;
        height: $size;
        min-height: $min-size;
        margin-bottom: 2px;

        border: 1px solid black;
      }

      span:nth-of-type(2) {
        margin-top: 3px;
        font-size: 1.05em;
        font-weight: bold;
      }
    }
  }

  .footer {
    width: 100%;
    min-height: 200px;
  }
}
