<div class="container">
  <div class="header flex-space-between yellow">
    <span>Yoga Vidya Online Shop</span>
    <div class="burger-menu" (click)="showSidebar = true">
      <fa-icon [icon]="faBars" size="lg"></fa-icon>
    </div>

    <div
      class="backdrop"
      [style]="{ width: showSidebar ? '100vw' : '0' }"
      (click)="showSidebar = false"
    >
      <div class="sidebar yellow" (click)="$event.stopPropagation()">
        <div class="listing">
          <div class="search flex-space-between">
            <div>Search</div>
            <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
          </div>
          <a>Ausloggen</a>
          <a>Ihr Konto</a>
          <a>Alle Kategorien</a>
          <a>Über uns</a>
          <div class="cart">
            <fa-icon [icon]="faShoppingCart"></fa-icon> &nbsp; 3,99 €
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="infos flex-space-between">
    <div>• • • •</div>
    <!-- <div *ngFor="let info of infos" class="info">Info {{ info }}</div> -->
    <div class="info">Ausloggen</div>
    <div class="info">Ihr Konto</div>
    <div class="info">Alle Kategorien</div>
    <div class="info">Über uns</div>
    <div class="search flex-space-between">
      <div>Search</div>
      <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
    </div>
  </div>

  <div class="categories light-yellow flex-center">
    <div
      *ngFor="let category of categories"
      class="category flex-center"
      [class]="{ 'hide-some': !showAllCategories }"
    >
      <!-- <img src="../../assets/images/pics/cats/Kategorie_Ayurveda.gif" /> -->

      <span>
        {{ category.name }}
      </span>
    </div>
  </div>

  <div class="light-yellow">
    <div
      class="show-all-categories flex-center red"
      (click)="showAllCategories = !showAllCategories"
    >
      {{
        showAllCategories ? "Kategorien einklappen" : "Alle Kategorien anzeigen"
      }}
    </div>
  </div>

  <div class="products flex-center red-text">
    <div *ngFor="let product of products" class="product-container">
      <div class="product">Product</div>
      <span>Das große Yoga Vidya Hatha Yoga Buch</span>
      <span>3,99 €</span>
    </div>
  </div>

  <div class="footer yellow">
    <app-footer></app-footer>
  </div>
</div>
