@import "../../variables.scss";

$header-height: 60px;

.container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  justify-items: stretch;

  .header {
    position: fixed;
    z-index: 9;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;

    .logo {
      padding: 5px 30px;
      border: 1px solid black;
    }

    .burger-menu:hover {
      cursor: pointer;
    }

    .backdrop {
      z-index: 10;
      position: absolute;
      width: 100vw;
      height: 100vh;
      right: 0;
      top: 0;
      overflow: hidden;
      background-color: rgba($color: #000000, $alpha: 0.6);
      backdrop-filter: blur(2px);
      transition: width 0.2s;

      .sidebar {
        position: absolute;
        right: 0;
        height: 100%;
        width: 70vw;
        transition: width 0.5s;
        padding: 10px;

        .listing {
          display: flex;
          flex-direction: column;

          .search {
            margin-bottom: 20px;
            padding: 10px;
          }

          .cart {
            margin: 20px 0 0 10px;
            font-size: 1.2em;
          }

          a {
            padding: 10px 10px;
            transition: color 0.1s, background-color 0.1s;

            &,
            &:active,
            &:focus,
            &:visited {
              text-decoration: none;
              color: $primary;
            }

            &:not(:nth-of-type(-n + 1)) {
              border-top: 1px solid rgba($color: $primary, $alpha: 0.7);
            }

            &:hover {
              color: $secondary;
              background-color: $primary;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .categories {
    .category {
      margin: 5px;
      flex: 1 0 auto;
      box-sizing: border-box;

      overflow: hidden;
      position: relative;
      background-image: url("../../assets/images/pics/cats/Ätherische\ &\ Aroma-Öle/Kategorie_Aromaoele.gif");
      background-size: 150% auto;
      background-position: center;

      span {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10%;
        background-color: rgba($color: $secondary, $alpha: 0.7);
      }
    }
  }

  .show-all-categories {
    padding: 5px;
    border-radius: 3px;
    transition: background-color 0.2s;

    &:hover {
      cursor: pointer;
      background-color: rgba($primary, 0.9);
    }
  }

  .products {
    box-sizing: border-box;
    $margin: 10px;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: $margin $margin 0 0;

    .product-container {
      $size: 44vw;
      $min-size: 140px;
      display: flex;
      flex-direction: column;
      margin-bottom: 2 * $margin;
      width: $size;
      margin: 0 0 $margin $margin;

      transition: color 0.2s, background-color 0.2s;

      &:hover {
        cursor: pointer;
        color: $primary;
        background-color: rgba($color: $secondary, $alpha: 0.3);
      }

      .product {
        width: $size;
        min-width: $min-size;
        height: $size;
        min-height: $min-size;
        margin-bottom: 2px;

        border: 1px solid black;
      }

      span:nth-of-type(2) {
        margin-top: 3px;
        font-size: 1.05em;
        font-weight: bold;
      }
    }
  }

  .footer {
    width: 100%;
    min-height: 200px;
  }
}

@media only screen and (max-width: 599px) {
  .container {
    margin-top: $header-height;
  }

  .header {
    height: $header-height;
  }

  .infos {
    display: none;
  }

  .search {
    box-sizing: border-box;
    width: 100%;
    min-width: 150px;
    border: 1px solid $primary;
    padding: 4px 10px;
  }

  .categories {
    flex-wrap: wrap;
    padding: 5px;

    .category {
      $size: 45vw;
      $min-size: 140px;
      width: $size;
      min-width: $min-size;
      height: $size;
      min-height: $min-size;
    }

    .category.hide-some:not(:nth-child(-n + 4)) {
      display: none;
    }
  }

  .show-all-categories {
    margin: 0 10px 10px 10px;
  }
}

@media only screen and (min-width: 600px) {
  .backdrop,
  .burger-menu {
    display: none;
  }

  .container {
    margin-top: $header-height + 40px;
  }

  .header {
    height: $header-height + 40px;
  }

  .infos {
    padding: 5px 50px;
    background-color: #fed955;

    .info {
      padding: 5px 7px;
      border-radius: 6px;
      transition: color 0.2s, background-color 0.2s;

      &:hover {
        cursor: pointer;
        background-color: $primary;
        color: $secondary;
      }
    }
  }

  .search {
    box-sizing: border-box;
    width: 10%;
    min-width: 150px;
    border: 1px solid $primary;
    border-radius: 6px;
    padding: 4px 10px;
  }

  .categories {
    flex-wrap: wrap;
    padding: 5px 50px;

    .category {
      $width: 42vw;
      $height: 3 * $width / 4;

      width: $width;
      height: $height;
      margin: 5px;
      flex: 1 0 auto;

      box-sizing: border-box;
      font-size: 1.5em;

      overflow: hidden;
      position: relative;
      background-image: url("../../assets/images/pics/cats/Kategorie_Ayurveda.gif");
      background-size: 150% auto;
      background-position: center;

      span {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10%;
        background-color: rgba($color: $secondary, $alpha: 0.7);
      }

      &:not(:nth-child(-n + 2)) {
        $width: 18vw;
        $height: 3 * $width / 4;
        width: $width;
        height: $height;
        font-size: 1.2em;
      }

      &.hide-some:not(:nth-child(-n + 7)) {
        display: none;
      }
    }
  }

  .show-all-categories {
    margin: 0 55px 10px 55px;
  }
}
