* {
  font-family: Geneva, Arial, sans-serif;
}

body {
  margin: 0;
}

.yellow-text {
  color: #feca1a;
}

.yellow-transparent {
  background-color: rgba(#feca1a, 0.8);
}

.yellow {
  background-color: #feca1a;
  color: #a00839;
}

.red {
  background-color: #a00839;
  color: #feca1a;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
