@import "./variables.scss";

* {
  font-family: Geneva, Arial, sans-serif;
}

body {
  margin: 0;
}

.yellow-text {
  color: $secondary;
}

.yellow-transparent {
  background-color: rgba($secondary, 0.8);
}

.yellow {
  background-color: $secondary;
  color: $primary;
}

.light-yellow {
  background-color: rgba($color: $secondary, $alpha: 0.3);
  color: $primary;
}

.red {
  background-color: $primary;
  color: $secondary;
}

.red-text {
  color: $primary;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
